src/LogicApp/LogicAppTemplate.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Find_meeting_times_(V2)": {
                "inputs": {
                    "body": {
                        "ActivityDomain": "Unrestricted",
                        "End": "@{variables('datetimeutcend')}",
                        "IsOrganizerOptional": true,
                        "MinimumAttendeePercentage": "0",
                        "RequiredAttendees": "@variables('roomemailaddress')",
                        "Start": "@variables('datetimeutcstart')"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/codeless/beta/me/findMeetingTimes"
                },
                "runAfter": {
                    "Initialize_variable_-_now_utc_end_window": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "HTTP": {
                "inputs": {
                    "body": "@body('Find_meeting_times_(V2)')",
                    "method": "POST",
                    "queries": {
                        "code": "[Fuction access code]",
                        "currentDate": "@variables('datetimeutc')",
                        "endDate": "@variables('datetimeutcend')",
                        "roomEmailAddress": "@variables('roomemailaddress')",
                        "startDate": "@variables('datetimeutcstart')"
                    },
                    "uri": "https://roomavailabilityautomation-afa.azurewebsites.net/api/RoomAvailabilityAutomation"
                },
                "runAfter": {
                    "Find_meeting_times_(V2)": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "datetimeutc",
                            "type": "string",
                            "value": "@{utcNow()}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_room_email_address": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_now_utc_end_window": {
                "inputs": {
                    "variables": [
                        {
                            "name": "datetimeutcend",
                            "type": "string",
                            "value": "@{addMinutes(parseDateTime(variables('datetimeutc')),90)}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_-_now_utc_start_window": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_now_utc_start_window": {
                "inputs": {
                    "variables": [
                        {
                            "name": "datetimeutcstart",
                            "type": "string",
                            "value": "@{addMinutes(parseDateTime(variables('datetimeutc')), -60)}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_-_room_email_address": {
                "inputs": {
                    "variables": [
                        {
                            "name": "roomemailaddress",
                            "type": "string",
                            "value": "XYZ@ABC.nl"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 5
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 5
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "office365": {
                    "connectionId": "/subscriptions/[XYZ]/resourceGroups/outlook-automation-rg/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/[xyz]/providers/Microsoft.Web/locations/westeurope/managedApis/office365"
                }
            }
        }
    }
}